body {
  background: linear-gradient(to bottom, rgb(227, 133, 133), blue);
}

h1 {
  color: whitesmoke;
  font-size: 40px;
}

.barra {
  width: 500px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
}

.barra div {
  height: 100%;
  border-radius: 10px;
  background-color: #222;
}

input {
  margin-top: 50px;
}

/*segunda barra*/

.Barra {
  width: 500px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
}

.barra div {
  height: 100%;
  border-radius: 10px;
  background-color: #222;
}

#barra2 {
  margin: 50px;
}
